body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 50px auto 0 auto ;
    line-height: 1.4;
    font-family: 'Sacramento', cursive;
    font-size: 5.65rem;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 20px 10px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;

}

.middle-container{


}

.bottom-container{
    background-color: #66BFBF;
    position: inherit;;
    padding: 50px 0 20px;
    margin-top: 100px;

}


.pro{
    text-decoration: underline;

}

.top-cloud{
    position: absolute;
    right: 390px;
    top: 40px;

}

.bottom-cloud{
    position: absolute;
    left: 400px;
    bottom: 300px;
}

.coding{
    width: auto;
    height: auto;
    border-radius: 100px;
}

.thinking{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.vulcan{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.me{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.footer-link-twitter {
    color: #11999E;
    margin-bottom: 20px;
}

.footer-link-linkedin{
    color: #11999E;
    margin-bottom: 20px;
}

.footer-link-website {
    color: #11999E;
    padding: 0;
}

.skills {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 1.8;
}

.coding {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.thinking {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.iam {
    margin: auto 400px auto 400px;
    line-height: 1.8;
}

.topline {
    border-top: 8px dotted;
    margin: 100px 685px 100px 685px;
    color: #d9d9d9;
    border-bottom: none;
    border-left: none;
}

.bottomline {
    border-top: 8px dotted;
    margin: 100px 325px 100px 325px;
    color: #d9d9d9;
    border-bottom: none;
    border-left: none;

}
.footer {
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 21px;
  padding: 11px;
  background: #11cdd4;
  /*border: solid #66BFBF 0px;*/
  text-decoration: none;
  margin-bottom: 100px;
  margin-top: 50px
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.love-help {
    margin: auto auto 80px auto;
}
